/*
	TODO: max-width viewports etc.
*/

html {
	font-size: 50px;
}
body {
	font-family: 'helvetica neue', sans-serif;
	font-weight: 300;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1 {
	font-size: 0.7rem;
}

section#artist {
	/*margin-top: 20px;*/
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 1;
}

div#suggestions {
	position: fixed;
	width: 564px;
	text-align:left;
	overflow-y: scroll;
	height: 100%;
}

div#under_construction {
	font-size: 0.3rem;
	position: fixed;
	bottom: 0;
}

a#backlog {
	text-decoration: none;
	font-weight: 400;
}

a#backlog:hover {
	font-weight: 700;
}

.suggested {
	list-style: none;
	display: inline-block;
	padding: 0;
	font-weight: 100;
	margin-top: 0px;
	height: 100%;
}

.suggested * {
	font-size: 0.5rem;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 300;
}

.suggested li a:hover {
	font-weight: 700;
	cursor: pointer;
}

div.album {
	clear: both;
	padding-bottom: 10px;
}

span.album_name {
	padding-right: 10px;
	font-weight: 700;
	font-size: 0.7rem;
}

li#you_might_like {
	font-weight: 700;
}

li.artist_title {
	font-weight: 700;
	font-size: 0.6rem;
	cursor: pointer;
}

li.back_to {
    color: darkgray;
    font-size: 0.3rem;
    padding-top: 10px;
    cursor: pointer;
}

input#artist_name {
	font-family: 'helvetica neue', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	border: none;
	border-bottom: 1px solid black;
	text-align: center;	
}

.ui-menu {
	padding:10px 0px 10px 0px !important;
	background-color: aqua;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ui-menu * {
	font-size: 0.5rem;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 300 !important;
}

.ui-menu:hover, .ui-menu:focus,
.ui-menu-item-wrapper:hover, .ui-menu-item-wrapper:focus,
.ui-widget-content:hover, .ui-widget-content:focus,
.ui-widget:hover, .ui-widget:focus, .ui-state-active {
	font-weight: 700 !important;
	background-color: aqua !important;
}

.ui-menu-item-wrapper,
.ui-widget-content,
.ui-widget, .ui-state-active {
	border: none !important;
	background-color: aqua !important;
}
.ui-state-active, .ui-widget-content .ui-state-active {
	background-color: aqua !important;
	background: aqua !important;
}

img.album_cover {
	padding: 5px;
	outline: 1px solid black;
    outline-offset: -5px;
    float: left;
}

ul.music_links {
	list-style:none;
	font-size: 0.5rem;
	float:left;
	padding: 0px 0px 0px 10px;
	margin: 0px;
}





